# AppVeyor CI build file, https://ci.appveyor.com/project/odinserj/cronos

os: Visual Studio 2017

version: 0.7.0-build-0{build}

branches:
  only:
    - master
    - dev

pull_requests:
  do_not_increment_build_number: true

#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
  - powershell .\build.ps1 -Target Pack

after_build:
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
  - pip install codecov
  - codecov -f coverage.xml
  
#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: 'build\*.nupkg'
  - path: 'build\*.zip'

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

deploy:
  - provider: GitHub
    auth_token:
      secure: Hw+eMEw//BNM8ZZSQidchwbrj25XFKykj+NdQKXtXWEsHKZdXTWRZjfDjK6UZLxU
    artifact: /.*\.zip/
    draft: true
    on:
      appveyor_repo_tag: true

  - provider: NuGet
    api_key: 
      secure: O6j1PyBQ7asspWVxYk0vnaldaF8P7h1xyFREiGAVh3hVAnkclKWVG74JxkErmHLm
    on:
      appveyor_repo_tag: true
